*{
 margin:0;
 }
#nav{
     width:100%;
     height:80px;
     background-color:aqua;

     }
     .ca
     {
     color:rgb(182,121,130);
     font-size:40px;
     text-decoration:none;
     padding-left:40px;
     font-family="Brush Script MT"
     }
     #d
     {
     color:white;
     font-size:20px;
     text-decoration:none;
     padding-left:20px;
     }
     .im
     {
     width:50px:
     height:50px;
     float:right;
     padding-right:20px;
     padding-top:10px;
     }
     #cont
     {
     width:100%;
     height:525px;
     background-image:url(school.jpeg);
     background-repeat:no-repeat;
     background-size:cover;
      }
      .tx
      {
      font_family="Brush Script MT"
      font_size:100px;
      color:green;
      text-align:left;
      padding-top:50px;
      }
      #seccont
      {
      width:100%;
      height:500px;
      background-color:rgb(101,73,52);
      }
      #fdiv
      {
      width:100%;
      height:70px;
      background-color:aqua;
      margin_left:400px;
      }
     .ic
     {
     width:50px;
     height:50px;
     padding-top:10px;
     padding-left:100px;
     }
     #sdiv
     {
     display:flex;
     justify_content:space-evenly;
     }
     .card
     {
     width:45%;
     height:400px;
     background-color:rgb(30,50,60);
     float:left;
     margin-left:30px;
     margin-top:20px;
     }
     #cp
     {
     width:300px;
     height:300px;
     padding-top:20px;
     margin-bottom:20px;
     padding-left:20px;
     padding-right:20px;
     }
     .t
      {
      font_family="Brush Script MT"
      font_size:50px;
      color:white;
      text-align:bottom;
      padding-bottom:100px;
      }


      }